In [ ]:
import pandas as pd

# Objectif : Compléter les tables atp_player et wta_player avec la variable "match_first"

## Pour les hommes

In [2]:
# Récupération de la table et de l'identifiant
data_homme = pd.read_csv("../donnees_tennis/ATP/atp_players.csv",low_memory=False)

In [3]:
# Récupérer la liste de tous les fichier
liste_fichier = os.listdir('../donnees_tennis\ATP')

### Trouver le premier match

In [4]:
def trouver_match(id_player, liste_data, type):

    # Initialisation d'une date vide
    date_temp = None

    for indice, data in enumerate(liste_data):


        # Récuperation des data frame
        date = None

        if indice ==1 and type == 'atp':  # pour vérifié si le match est un double
            if id_player in data["winner1_id"].values :
                date = data[data["winner1_id"]== id_player]["tourney_date"].values[0]
            elif id_player in data["winner2_id"].values:
                date = data[data["winner2_id"]== id_player]["tourney_date"].values[0]
            elif id_player in data["loser1_id"].values:
                date = data[data["loser1_id"]== id_player]["tourney_date"].values[0]
            elif id_player in data["loser2_id"].values:
                date = data[data["loser2_id"]== id_player]["tourney_date"].values[0]


        else: # pour match simple
            if id_player in data["winner_id"].values :
                date = data[data["winner_id"]== id_player]["tourney_date"].values[0]

            elif id_player in data["loser_id"].values :
                date = data[data["loser_id"]== id_player]["tourney_date"].values[0]



        if date is not None:
            # Modification des dates au format date
            match_date = pd.to_datetime(date, format="%Y%m%d")
            # Comparaison à la date trouvé dans tournoi précédent
            if (date_temp is None) or (match_date < date_temp):
                date_temp = match_date


    return date_temp

### Ajouter la variable "date_match1"

In [5]:
data1 = pd.read_csv("../Donnees/atp_matches_1968_2024.csv")
data2 = pd.read_csv("../Donnees/atp_matches_doubles_2000_2024.csv")
data3 = pd.read_csv("../Donnees/atp_matches_futures_1992_2024.csv")
data4 = pd.read_csv("../Donnees/atp_matches_qual_1978_2024.csv")

C:\Users\33663\AppData\Local\Temp\ipykernel_51120\3144811732.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data3 = pd.read_csv("../Donnees/atp_matches_futures_1992_2024.csv")

In [6]:
liste = [data1, data2, data3, data4]

In [7]:
data_homme['first_match_date'] = data_homme['player_id'].apply(trouver_match,liste_data = liste, type= 'atp')

In [8]:
data_homme.head()

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id,first_match_date
0,100001,Gardnar,Mulloy,R,19131122.0,USA,185.0,Q54544,1968-03-04
1,100002,Pancho,Segura,R,19210620.0,ECU,168.0,Q54581,1968-09-14
2,100003,Frank,Sedgman,R,19271002.0,AUS,180.0,Q962049,1968-06-17
3,100004,Giuseppe,Merlo,R,19271011.0,ITA,NaN,Q1258752,1968-05-06
4,100005,Richard,Gonzalez,R,19280509.0,USA,188.0,Q53554,1968-04-22

In [9]:
data_homme.to_csv("../Donnees/atp_players_comp.csv")

In [ ]:

data_femme = pd.read_csv("../donnees_tennis/WTA/wta_players.csv",low_memory=False)

In [11]:
data1 = pd.read_csv("../Donnees/wta_matches_1968_2024.csv")
data2 = pd.read_csv("../Donnees/wta_matches_qual_1968_2024.csv")

C:\Users\33663\AppData\Local\Temp\ipykernel_51120\2491456969.py:1: DtypeWarning: Columns (5,9,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv("../Donnees/wta_matches_1968_2024.csv")
C:\Users\33663\AppData\Local\Temp\ipykernel_51120\2491456969.py:2: DtypeWarning: Columns (5,9,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv("../Donnees/wta_matches_qual_1968_2024.csv")

In [12]:
liste = [data1, data2]

In [13]:
data_femme['first_match_date'] = data_femme['player_id'].apply(trouver_match,liste_data = liste,type= 'wta')

In [14]:
data_femme.head()

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id,first_match_date
0,113190,Bobby,Riggs,U,NaN,USA,NaN,NaN,NaT
1,200000,X,X,U,19000000.0,UNK,NaN,NaN,NaT
2,200001,Martina,Hingis,R,19800930.0,SUI,170.0,Q134720,1993-10-18
3,200002,Mirjana,Lucic,R,19820309.0,CRO,181.0,Q239686,1996-12-09
4,200003,Justine,Henin,R,19820601.0,BEL,167.0,Q11682,1996-11-18

In [15]:
data_femme.to_csv("../Donnees/wta_players_comp.csv")