In [1]:
import streamlit as st
import pandas as pd
import altair as alt
import os
import sys
import math

# Utiliser le répertoire courant pour Streamlit
base_path = os.getcwd()
code_path = os.path.join(base_path, "Code")

# Ajouter au sys.path
if code_path not in sys.path:
    sys.path.append(code_path)

# Maintenant importer
from classe_joueur import Joueur
from creer_joueur import creer_joueur

In [2]:
joueur = creer_joueur(nom = 'Nadal', prenom = 'Rafael')

In [3]:
rencontre = joueur.chercher_resultat(annee = 2022)

c:\Users\33663\Desktop\Projet traitement de données\Code\classe_joueur.py:72: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(fichier)

In [4]:
rencontre.head()

,tourney_id,tourney_date,tourney_name,tourney_level,surface,type,resultat,round_label
186098,2022-9665,2022-01-03,Melbourne,A,Hard,simple,1,Finale
186305,2022-580,2022-01-17,Australian Open,G,Hard,simple,1,Finale
186580,2022-0807,2022-02-21,Acapulco,A,Hard,simple,1,Finale
186669,2022-0404,2022-03-07,Indian Wells Masters,M,Hard,simple,0,Finale
187104,2022-1536,2022-05-02,Madrid Masters,M,Clay,simple,0,Quart de finale

In [33]:
data1 = pd.read_csv('../Donnees/atp_matches_1968_2024.csv')
data2 = pd.read_csv('../Donnees/atp_matches_futures_1992_2024.csv')
data3 = pd.read_csv('../Donnees/atp_matches_qual_1978_2024.csv')
data4 = pd.read_csv('../Donnees/wta_matches_1968_2024.csv')
data5 = pd.read_csv('../Donnees/wta_matches_qual_1968_2024.csv')

C:\Users\33663\AppData\Local\Temp\ipykernel_123680\352377627.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('../Donnees/atp_matches_futures_1992_2024.csv')

In [34]:
print("data1",data1['round'].unique())
print("data2",data2['round'].unique())
print("data3",data3['round'].unique())
print("data4",data4['round'].unique())
print("data5",data5['round'].unique())

data1 ['R32' 'R16' 'QF' 'SF' 'F' 'R64' 'R128' 'RR' 'BR' 'ER']
data2 ['R32' 'R16' 'QF' 'SF' 'F' 'R64' 'Q4']
data3 ['R32' 'R16' 'QF' 'SF' 'F' 'R64' 'Q1' 'Q2' 'Q3' 'RR']
data4 ['R16' 'QF' 'SF' 'F' 'R64' 'R32' 'R128' 'RR' 'BR']
data5 ['Q1' 'Q2' 'Q3' 'Q4' 'Q5' 'R32' 'R16' 'QF' 'SF' 'F' 'R64' 'BR' 'RR' 'R128'
 'f']

In [ ]:
data_test = pd.read_csv("../donnees_tennis/WTA/wta_matches_qual_itf_1980.csv")

In [25]:
data_test = data_test[data_test['tourney_id']=='1980-1106']
data_test.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [28]:
data_test[['draw_size','tourney_level', 'match_num','round','winner_name','loser_name']].head(100)

,draw_size,tourney_level,match_num,round,winner_name,loser_name
546,NaN,C,1,RR,Ivanna Madruga,Patricia Medrado
547,NaN,C,2,RR,Brigitte Simon Glinel,Patrizia Murgo
548,NaN,C,3,RR,Patricia Medrado,Patrizia Murgo
549,NaN,C,4,RR,Ivanna Madruga,Brigitte Simon Glinel
550,NaN,C,5,RR,Kim Steinmetz,Viviana Gonzalez
551,NaN,C,6,RR,Liliana Giussani,Emilse Raponi Longo
552,NaN,C,7,RR,Viviana Gonzalez,Emilse Raponi Longo
553,NaN,C,8,RR,Liliana Giussani,Kim Steinmetz
554,NaN,C,9,RR,Kim Steinmetz,Brigitte Simon Glinel
555,NaN,C,10,RR,Emilse Raponi Longo,Patrizia Murgo
556,NaN,C,11,QF,Patricia Medrado,Kim Steinmetz
557,NaN,C,12,QF,Viviana Gonzalez,Brigitte Simon Glinel
558,NaN,C,13,SF,Ivanna Madruga,Viviana Gonzalez
559,NaN,C,14,SF,Liliana Giussani,Patricia Medrado
560,NaN,C,15,F,Ivanna Madruga,Liliana Giussani
561,NaN,C,16,BR,Patricia Medrado,Viviana Gonzalez